---
export const prerender = true;

import Base from '../layouts/Base.astro';
import { useTranslations } from '../i18n/utils';

const lang = 'en';
const t = useTranslations(lang);
---

<Base lang={lang} title={t('discord.title')} noFooter={true}>
  <Fragment slot="head">
    <meta http-equiv="refresh" content="0; url=https://community.getorbyt.com" />
    <link rel="canonical" href="https://community.getorbyt.com" />
    <script is:inline>
      window.location.href = "https://community.getorbyt.com";
    </script>
  </Fragment>
  <div class="container">
    <div class="emojis">🚙💨</div>
    <div class="text">{t('discord.routing')}</div>
  </div>
</Base>

<style>
  html, body { margin: 0; padding: 0; background: #000; color: #fff; height: 100vh; }
  body { display: flex; flex-direction: column; align-items: center; justify-content: center; }
  .container { display: flex; flex-direction: column; align-items: center; gap: 20px; }
  .emojis { font-size: 70px; }
  .text { font-family: 'Figtree', sans-serif; font-weight: 300; font-size: 20px; color: #fff; }
</style>
