---
export const prerender = true;
---

<!doctype html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="4xaimUg28uLCqKwsPNIz6QeG_tfnLlAdHgS5bC_90JU"/>
    <meta charset="utf-8">
    <title>orbyt - video communities</title>
    <meta name="description" content="a new video app for bluesky">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="orbyt - video communities"/>
    <meta property="og:description" content="a new video app for bluesky"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://getorbyt.com/"/>
    <!-- <meta property="og:image" content="https://getorbyt.com/orbyt-banner.png"/> -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

    <!-- iOS apple-touch-icon (iOS doesn't support media queries, use dark icon) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_dark/apple-touch-icon.png">

    <!-- Default/fallback favicons (for unsupported browsers - use favicon_io) -->
    <link rel="icon" type="image/x-icon" href="/favicon_io/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">

    <!-- Light mode favicons -->
    <link rel="icon" type="image/x-icon" href="/favicon_light/favicon.ico" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_light/favicon-16x16.png" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_light/favicon-32x32.png" media="(prefers-color-scheme: light)">

    <!-- Dark mode favicons -->
    <link rel="icon" type="image/x-icon" href="/favicon_dark/favicon.ico" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_dark/favicon-16x16.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_dark/favicon-32x32.png" media="(prefers-color-scheme: dark)">
    
    <link rel="manifest" href="/favicon_io/site.webmanifest">

    <style>
      @font-face {
        font-family: 'Figtree';
        src: url('/fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
        font-weight: 300 900;
        font-style: normal;
        font-display: swap;
      }
    a:hover {
        color: #f3f5fe;
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        min-height: 100vh;
    }

    body {
        background: #000;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 1200px;
        padding: 20px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .download-button {
        background: #551DEF;
        border: 2px solid #000000;
        border-radius: 30px;
        height: 60px;
        font-weight: bold;
        font-size: 23px;
        line-height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: #E0EBFF;
        max-width: 500px;
        margin: 0 auto 10px auto;
    }

    .row.first {
        margin-top: 0;
        margin-bottom: 0;
    }

    .row.buttons {
        text-align: center;
        margin-top: 40px;
    }

    .logo {
        text-align: center;
    }

    .logo-icon {
        width: 140px;
        height: auto;
        display: block;
        margin: 0 auto 0px auto;
    }

    .logo-text {
        font-family: 'Figtree', sans-serif;
        font-weight: 900;
        font-size: 48px;
        color: #f3f5fe;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .motto {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .motto div {
        text-align: center;
    }

    .motto-text {
        font-family: 'Figtree', sans-serif;
        font-weight: 500;
        font-size: 28px;
        color: #01f5b3;
        text-align: center;
        display: block;
        margin: 20px auto;
        letter-spacing: -0.02em;
    }

    .separator {
        height: 7px;
        margin-bottom: 40px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .separator svg {
        width: 100%;
        height: 7px;
    }

    .footer {
        text-align: left;
        white-space: nowrap;
        display: block;
        margin-top: auto;
        margin-bottom: 40px;
    }

    .footer a {
        margin: 0 20px 0 0;
        display: inline-block;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        text-align: left;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-decoration: none;
        color: #ccc;
    }

    .footer a:hover {
        color: #f3f5fe;
    }

    @media (max-width: 500px) {
        .row.first {
            margin-top: 0;
        }

        body {
            background: #000;
        }

        .motto {
            margin-top: 10px;
            margin-bottom: 0;
        }

        .motto-text {
            font-size: 22px;
        }

        .row.buttons {
            margin-top: 30px;
        }

        .logo-icon {
            width: 100px;
            height: auto;
        }

        .logo-text {
            font-size: 36px;
        }

        .download-button {
            height: 50px;
            font-size: 20px;
            margin-bottom: 15px;
        }

        .separator {
            margin-bottom: 40px;
        }

        .footer {
            white-space: normal;
            margin-bottom: 40px;
            text-align: center;
        }

        .footer a {
            display: block;
            margin: 8px 0 8px 0;
            text-align: center;
        }
    }

    @media (min-width: 1500px) {
        body {
            background-position-y: -100px;
        }
    }

    @media (min-width: 1800px) {
        body {
            background-position-y: -200px;
        }
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="main-content">
            <div class="row first">
                <div class="logo twelve columns">
                    <img src="/TV-Raw.png" alt="orbyt logo" class="logo-icon"/>
                    <div class="logo-text">orbyt</div>
                </div>
            </div>
            <div class="row motto">
                <div class="twelve columns">
                    <div class="motto-text">video communities</div>
                </div>
            </div>
            <div class="row buttons">
                <a href="/beta" class="download-button">join the waitlist</a>
            </div>
        </div>

        <div class="footer">
            <div class="separator">
                <svg height="7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <pattern id="squigglePattern" width="374" height="7" patternUnits="userSpaceOnUse">
                            <path d="M0 1C5.50021 1 5.50021 5.84456 11.0004 5.84456C16.5006 5.84456 16.5006 1 22.0008 1C27.501 1 27.501 5.84456 33.0013 5.84456C38.5015 5.84456 38.5015 1 44.0017 1C49.5019 1 49.5019 5.84456 55.0021 5.84456C60.5023 5.84456 60.5023 1 66.0025 1C71.5027 1 71.5027 5.84456 77.0029 5.84456C82.5031 5.84456 82.5031 1 87.9998 1C93.5 1 93.5 5.84456 98.9967 5.84456C104.497 5.84456 104.497 1 109.994 1C115.494 1 115.494 5.84456 120.99 5.84456C126.491 5.84456 126.491 1 131.991 1C137.491 1 137.491 5.84456 142.991 5.84456C148.491 5.84456 148.491 1 153.992 1C159.492 1 159.492 5.84456 164.988 5.84456C170.489 5.84456 170.489 1 175.985 1C181.486 1 181.486 5.84456 186.986 5.84456C192.486 5.84456 192.486 1 197.986 1C203.486 1 203.486 5.84456 208.987 5.84456C214.487 5.84456 214.487 1 219.987 1C225.487 1 225.487 5.84456 230.987 5.84456C236.488 5.84456 236.488 1 241.988 1C247.488 1 247.488 5.84456 252.988 5.84456C258.488 5.84456 258.488 1 263.989 1C269.489 1 269.489 5.84456 274.989 5.84456C280.489 5.84456 280.489 1 285.99 1C291.49 1 291.49 5.84456 296.99 5.84456C302.49 5.84456 302.49 1 307.99 1C313.491 1 313.491 5.84456 318.991 5.84456C324.491 5.84456 324.491 1 329.991 1C335.491 1 335.491 5.84456 340.992 5.84456C346.492 5.84456 346.492 1 351.992 1C357.492 1 357.492 5.84456 362.996 5.84456C368.5 5.84456 368.496 1 374 1" stroke="#551DEF" stroke-width="2" stroke-miterlimit="10"/>
                        </pattern>
                    </defs>
                    <rect fill="url(#squigglePattern)" width="100%" height="100%"/>
                </svg>
            </div>
            <a href="https://bsky.app/profile/getorbyt.com">bluesky</a>
            <a href="https://discord.gg/8gNQPFygnF">discord</a>
            <a href="/terms">terms</a>
            <a href="/privacy">privacy</a>
        </div>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXXXXX"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-XXXXXXXXXX');
        </script>
    </div>
</body>
</html>
