---
import LanguageSwitcher from './LanguageSwitcher.astro'
import { useTranslations } from '../i18n/utils'

interface Props {
  locale?: string
  currentPath?: string
  countryCode?: string
}

const { locale = 'en', currentPath = '/', countryCode } = Astro.props
const t = useTranslations(locale)
---
<footer class="site-footer">
    <div class="site-footer__separator">
        <svg height="7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <pattern id="squigglePattern" width="374" height="7" patternUnits="userSpaceOnUse">
                    <path d="M0 1C5.50021 1 5.50021 5.84456 11.0004 5.84456C16.5006 5.84456 16.5006 1 22.0008 1C27.501 1 27.501 5.84456 33.0013 5.84456C38.5015 5.84456 38.5015 1 44.0017 1C49.5019 1 49.5019 5.84456 55.0021 5.84456C60.5023 5.84456 60.5023 1 66.0025 1C71.5027 1 71.5027 5.84456 77.0029 5.84456C82.5031 5.84456 82.5031 1 87.9998 1C93.5 1 93.5 5.84456 98.9967 5.84456C104.497 5.84456 104.497 1 109.994 1C115.494 1 115.494 5.84456 120.99 5.84456C126.491 5.84456 126.491 1 131.991 1C137.491 1 137.491 5.84456 142.991 5.84456C148.491 5.84456 148.491 1 153.992 1C159.492 1 159.492 5.84456 164.988 5.84456C170.489 5.84456 170.489 1 175.985 1C181.486 1 181.486 5.84456 186.986 5.84456C192.486 5.84456 192.486 1 197.986 1C203.486 1 203.486 5.84456 208.987 5.84456C214.487 5.84456 214.487 1 219.987 1C225.487 1 225.487 5.84456 230.987 5.84456C236.488 5.84456 236.488 1 241.988 1C247.488 1 247.488 5.84456 252.988 5.84456C258.488 5.84456 258.488 1 263.989 1C269.489 1 269.489 5.84456 274.989 5.84456C280.489 5.84456 280.489 1 285.99 1C291.49 1 291.49 5.84456 296.99 5.84456C302.49 5.84456 302.49 1 307.99 1C313.491 1 313.491 5.84456 318.991 5.84456C324.491 5.84456 324.491 1 329.991 1C335.491 1 335.491 5.84456 340.992 5.84456C346.492 5.84456 346.492 1 351.992 1C357.492 1 357.492 5.84456 362.996 5.84456C368.5 5.84456 368.496 1 374 1" stroke="#551DEF" stroke-width="2" stroke-miterlimit="10"/>
                </pattern>
            </defs>
            <rect fill="url(#squigglePattern)" width="100%" height="100%"/>
        </svg>
    </div>
    <nav aria-label="Site links">
        <a href="https://bsky.app/profile/getorbyt.com">{t('footer.link.bluesky')}</a>
        <a href="https://community.getorbyt.com">{t('footer.link.community')}</a>
        <a href="/terms">{t('footer.link.terms')}</a>
        <a href="/privacy">{t('footer.link.privacy')}</a>
        <a href="/contact">{t('footer.link.contact')}</a>
    </nav>
    <div class="site-footer__lang">
        <LanguageSwitcher currentLocale={locale} currentPath={currentPath} countryCode={countryCode} />
    </div>
</footer>
